*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-tool-bar);
}

a{
    color: var(--color-tool-bar-text);
    text-decoration: none;
    padding-left: 35px;
}

.tool-bar-view{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-quest{
    display: flex;
    width: 230px;
    height: 22px;
    border-radius: 13px;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    align-items: center;
    margin: 0px 50px;
    justify-content: space-around;
}

.map-flag{
    width: 14px;
    height: 14px;
}

.location-quest p{
    color: white;
}

.tool-bar-text{
    position: relative;
}

.background-search{
    width: 165px;
    height: 26px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0px 50px;
    border-radius: 13px;
}

.lupa{
    width: 30px;
    height: 26px;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa img{
    width: 18x;
    height: 18px;
}

.lupa button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.input-search{
    position: relative;
    box-shadow: 0 0 0 0;
    font-size: 16px;
    border: 0 none;
    outline: 0;
    width: 120px;
    height: 20px;
}