
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.tool-bar-view{
    height: 80px;
    width: 100%;
    background-color: #000000;
    align-items: center;
}

.component-question-location{
    position: absolute;
    top: 27px;
    margin-left: 80px;
}